executor {
  // prevent multiple things from running at once
  cpus = 16
}

trace {
  // we want to track a lot of things to make collecting the performance 
  // metrics easier later
  enabled = true
  file = "pipeline_trace.txt"
  fields = "task_id,name,tag,status,exit,realtime,%cpu,%mem,rss,peak_rss,realtime"
}

params {
  top.dir = "/PATH/TO/TOP/DIRECTORY"

  bin {
    salmon = "/PATH/TO/SALMON/BINARY"
    afry = "/PATH/TO/ALEVINFRY/BINARY"
    star_solo = "/PATH/TO/STAR/BINARY"
    kb = "/PATH/TO/KB/BINARY"
  }

  input_csv = "samples.csv"
  output_dir = "${top.dir}/results"

  v2_permitlist = "${top.dir}/permit_lists/10xv2permit.txt"
  v3_permitlist = "${top.dir}/permit_lists/10xv3permit.txt"

  timecmd = "/usr/bin/time"

  index.dir = "${top.dir}/indices"

  salmon {
    index_human_cr3 = "${index.dir}/human-cr3/salmon_fl86_index"
    index_human_2020A = "${index.dir}/human-2020A/salmon_fl86_index"
    index_mouse_cr2 = "${index.dir}/mm10-2.1.0/salmon_fl146_index"
    index_mouse_2020A = "${index.dir}/mm10-2020A/salmon_fl145_index"
    index_zebrafish = "${index.dir}/dr-101/salmon_fl93_index"

    t2g_human_cr3 = "${index_human_cr3}/t2g_3col.tsv"
    t2g_human_2020A = "${index_human_2020A}/t2g_3col.tsv"
    t2g_mouse_cr2 = "${index_mouse_cr2}/t2g_3col.tsv"
    t2g_mouse_2020A = "${index_mouse_2020A}/t2g_3col.tsv"
    t2g_zebrafish = "${index_zebrafish}/t2g_3col.tsv"
  }

  star {
    index_human_cr3 = "${index.dir}/human-cr3/star_index"
    index_human_2020A = "${index.dir}/human-2020A/star_index"
    index_mouse_cr2 = "${index.dir}/mm10-2.1.0/star_index"
    index_mouse_2020A = "${index.dir}/mm10-2020A/star_index"
    index_zebrafish = "${index.dir}/dr-101/star_index"
  }
  
  kb {
    index_human_2020A_sc = "${index.dir}/human-2020A/kb_index/index.idx"
    t2g_human_2020A_sc = "${index.dir}/human-2020A/kb_index/t2g.txt"
    
    index_human_cr3_sc = "${index.dir}/human-cr3/kb_index/index.idx"
    t2g_human_cr3_sc = "${index.dir}/human-cr3/kb_index/t2g.txt"

    index_mouse_cr2_velo = "${index.dir}/mm10-2.1.0/kb_index/index.idx"
    t2g_mouse_cr2_velo = "${index.dir}/mm10-2.1.0/kb_index/t2g.txt"

    index_mouse_2020A_sn = "${index.dir}/mm10-2020A/kb_index/index.idx"
    t2g_mouse_2020A_sn = "${index.dir}/mm10-2020A/kb_index/t2g.txt"
    
    index_zebrafish_sc = "${index.dir}/dr-101/kb_index/index.idx"
    t2g_zebrafish_sc = "${index.dir}/dr-101/kb_index/t2g.txt"
  }

}
